<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Quiz App - Home</title>
  <link rel="stylesheet" href="/css/home.css">

</head>
<body>
  <div class="container">
    <h1>PANORAMA</h1>
    <h2>Space odessy</h2>
    <a href="/Day-1">Day 1</a>
  </div>
</body>
</html>
